html, body, #divMap {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
body {
  background-color: #FFF;
  overflow: hidden;
  font-family: "Trebuchet MS";
}
#bcMain {
  width: 100%;
  height: 100%;
}

#cpCenter {
  width: 100%;
  height: calc(100% - 300px);
  overflow: hidden;
  position: relative;
}

#cpBottom {
  height: 300px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

#divRenderer {
  position: absolute;
  left: 27px;
  bottom: 27px;
}

#divGrid {
  height: 100%;
}
.dgrid {
  border: none;
}
.field-eqid {
  width: 100px;
}
.field-datetime {
  width: 160px;
}
.field-magnitude {
  width: 60px;
}
.field-longitude {
  width: 100px;
}
.field-latitude {
  width: 100%;
}


